    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&display=swap');
* {
    font-family:"Poppins", sans-serif;
}
body {
    background-color:lightcyan;
    margin: 0 auto;
    padding: 0 auto;
    max-height: 100vh;
    background-position: center;
    align-items: center;
    justify-content: center;
}
.container {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(161, 42, 165, 0.342);
    flex: 0 0 400px;
}
.wrapper .h1 {
    display: flex;
    font-size: 200%;
    padding-left: 4.5%;
}
.wrapper .redirect {
    display: flex;
    color: #ffff;
    text-decoration: none;
    font-size: 300%;
}