    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Headline:wght@200..700&display=swap');
* {
    font-family:"Poppins", sans-serif;
}
body {
    background-image: url("/assets/img/404bg2.jpg");
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.container {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(129, 56, 14, 0.137);
    flex: 0. 0. 400px;
    padding:25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius:45px;
    border-style: solid;
    border-color:rgba(156, 110, 66, 0.452);
    backdrop-filter: blur(2.5px);

}
.h1 {
    display: flex;
    padding: 5px;
}
.h1 h1 {
    font-size: 60px;
    color:#ffff
}
.a {
    display: flex;
    align-self: center;
}
.a  a{
    display: flex;
    align-self: center;
    font-size: 35px;
    text-decoration: none;
    color: #e6e6e6be;
    border-style: solid;
    border-color:rgba(129, 129, 129, 0.5);
    border-radius: 25px;
    padding:5px;
    padding-right: 50px;
}
.a i{
    position:absolute;
    padding-left: 470px;
    padding-top: 15px;
    font-size:37px;
    color:#ffffff8a
}
.a a:hover {
    opacity: 0.6;
    transform: translateY(-2px)
}
